[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-dotenv = "*"
django-filter = "*"
pillow = "*"
python-magic = "*"
opencv-python = "*"
daphne = "*"
channels-postgres = "==1.0.6"
channels = "==4.2.0"
django = "==5.1"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
